/*#print-sandbox-header {
	width: 8in;
}

#print-map-container {
	width: 8in;
}

#legend-container-0 {
	position: absolute;
	right: 0;
	width: 2in;
}

.print-sandbox-header {
	width 80% !important;
}

#print-map-container > #export-print-preview-map > #map-0 {
	width: 80% !important;
}

#legend-container-0 {
	position: absolute !important;
    margin-left: 80% !important;
    top: 0px !important;
    width: 20% !important;
}

.dojoxResizeHandle {
	display: none;
}*/


@media print {
	@page { 
        size: landscape;
		margin: 13mm 13mm 13mm 13mm;
    }

    #map-print-sandbox {
    	display: none !important;
    }

    .sidebar-nav {
    	display: none !important;
    }

    /* Browsers don't print background images by default
       so this leaves an empty white box if we don't hide it */
    #plugin-print-preview-map .logo-med {
    	display: none;
    }

    div.header {
    	border: 2px solid gray;
	    width: 8in;
	    height: 0.8in;
	    background: white;
    }

    #print-title-map {
    	font-size: 22px;
    	padding: 5px 1px 0px 10px;
    }

    #print-subtitle-map {
    	padding: 0px 0px 0px 10px;
    	font-size: 19px;
    }

    #custom-print-legend {
    	border: 2px solid gray;
	    width: 2in;
	    position: absolute;
	    top: 0;
	    height: 4in;
	    left: 8in;
    }

    #print-cons-measures .title,
    #custom-print-legend .title {
    	font-size: 16px;
    	padding-left: 0.05in;
    }

    #custom-print-legend .legend-header {
    	display: none;
    }

    .layer-legends,
    .legend-layer {
    	width: 1.9in !important;
    }

    #print-cons-measures {
    	border: 2px solid gray;
	    position: absolute;
	    left: 8in;
	    top: 4in;
	    width: 2in;
	    height: 3.2in;
    }

    #print-cons-measures .stats {
    	background-color: #fff;
		padding: 0;
    }

    #print-cons-measures .stats .stat {
     	height: 100%;
    }

    #print-cons-measures .stats .description {
     	position: inherit;
    	left: 5px;
     	font-size: 13px;
     	line-height: 20px;
     	display: inline-block;
    	white-space: pre-line;
    	width: 100%;
    	padding-top: 0 !important;
    }

    #print-cons-measures .stats .number {
    	position: absolute;
	    display: block;
	    line-height: 22px;
	    font-size: 14px;
	    left: 0;
	    top: 26px;
    }

    #print-cons-measures .stats .stat-info {
    	display: none;
    }
    

    #print-cons-measures .stats .pill {
	    background-color: #fff;
	    color: #5d6165;
	    height: auto;
	    width: auto;
	    border-radius: 0;
    }

    #custom-print-footer {
    	position: absolute;
	    top: 6in;
	    border: 2px solid gray;
	    height: 1.2in;
	    left: 0;
	    width: 8in;
	    padding-left: 0.1in;
    }

    #custom-print-footer .big-title {
    	font-size: 22px;
    }

    #custom-print-footer .custom-print-footer-content {
    	font-size: 15px;
    }

    #plugin-print-preview-map {
        visibility: visible;
	    position: absolute;
	    width: 8in !important;
	    height: 5.2in !important;
	    top: 0.8in;
    }

    .print-logo {
    	position: absolute;
	    right: 0.1in;
	    bottom: 0.05in;
    }

}

.dojoxResizeHandle {
	display: none;
}