@media print {
	@page { 
	    size: landscape;
		margin: 13mm 13mm 13mm 13mm;
	}

	header {
		display: none;
	}

	#plugin-print-sandbox {
		width: 100%;
		height: 100%;
	}

	#print-page {
		width: calc(100% - 6px);
		height: calc(100% - 12px);
	    page-break-after: always;
	    border: 1px solid gray;
	    padding: 5px;
	}

	#map-print-sandbox {
		display: none !important;
	}

	.sidebar-nav {
		display: none !important;
	}

	/* Browsers don't print background images by default
	   so this leaves an empty white box if we don't hide it */
	#plugin-print-preview-map .logo-med {
		display: none;
	}

	div.header {
		float: left;
	    width: 80%;
	    height: 80px;
		border: 2px solid gray;
	    background-color: #fff;
	}

	#print-title-map {
		font-size: 22px;
		padding: 5px 1px 0px 10px;
	}

	#print-subtitle-map {
		padding: 0px 0px 0px 10px;
		font-size: 19px;
	}

	#custom-print-legend {
	    float: right;
	    width: calc(20% - 14px);
	    height: calc(42% - 8px);
		border: 2px solid gray;
	}

	#print-cons-measures .title,
	#custom-print-legend .title {
		font-size: 16px;
		padding-left: 0.05in;
	}

	#custom-print-legend .legend-header {
		display: none;
	}

	.layer-legends,
	.legend-layer {
		width: 100% !important;
	}

	#print-cons-measures {
		border: 2px solid gray;
		float: right;
	    height: calc(58% - 4px);
	    width: calc(20% - 14px);
	    clear: right;
	    margin-top: 6px;
	}

	#print-cons-measures .stats {
		background-color: #fff;
		padding: 0;
	}

	#print-cons-measures .stats .stat {

	}

	#print-cons-measures .stats .description {
	 	position: inherit;
		left: 5px;
	 	font-size: 13px;
	 	line-height: 20px;
	 	display: inline-block;
		white-space: pre-line;
		width: 100%;
		padding-top: 0 !important;
	}

	#print-cons-measures .stats .number {
		position: absolute;
	    display: block;
	    line-height: 22px;
	    font-size: 14px;
	    left: 0;
	    top: 26px;
	}

	#print-cons-measures .stats .stat-info {
		display: none;
	}


	#print-cons-measures .stats .pill {
	    background-color: #fff;
	    color: #5d6165;
	    height: auto;
	    width: auto;
	    border-radius: 0;
	}

	#custom-print-footer {
		height: calc(20% - 6px);
	    top: 80%;
	    position: relative;
	    width: 80%;
		border: 2px solid gray;
		padding-left: 6px;
	}

	#custom-print-footer .big-title {
		position: absolute;
		font-size: 22px;
	}

	#custom-print-footer .custom-print-footer-content {
		position: absolute;
		top: 27px;
		font-size: 15px;
	}

	#plugin-print-preview-map {
	    visibility: visible;
	    position: absolute;
	    top: 88px;
	    border: 2px solid gray;
	    left: 6px;
	    width: calc(80% - 14px) !important;
	    height: calc(80% - 106px) !important;
	}

	.print-logo {
		position: absolute;
	    right: 0.1in;
	    bottom: 0.05in;
	}

	.dojoxResizeHandle {
		display: none;
	}
}
