/* TODO: integrate to master styleguide.css */
.chosen-container-single .chosen-single span {
	width: calc(100% - 19px);
}

/* Hack to fix bug in vectortile canvas layer */
.map[data-zoom="0"] #map-0_mainMapParcelVector,
.map[data-zoom="1"] #map-0_mainMapParcelVector,
.map[data-zoom="2"] #map-0_mainMapParcelVector,
.map[data-zoom="3"] #map-0_mainMapParcelVector,
.map[data-zoom="4"] #map-0_mainMapParcelVector,
.map[data-zoom="5"] #map-0_mainMapParcelVector,
.map[data-zoom="6"] #map-0_mainMapParcelVector,
.map[data-zoom="7"] #map-0_mainMapParcelVector,
.map[data-zoom="8"] #map-0_mainMapParcelVector,
.map[data-zoom="9"] #map-0_mainMapParcelVector,
.map[data-zoom="10"] #map-0_mainMapParcelVector,
.map[data-zoom="11"] #map-0_mainMapParcelVector,
.map[data-zoom="12"] #map-0_mainMapParcelVector,
.map[data-zoom="13"] #map-0_mainMapParcelVector,
.map[data-zoom="14"] #map-0_mainMapParcelVector {
	display: none;
}

/* End Hack

/* Custom print dialog */

#plugin-print-modal {
	font-weight: bold;
    font-size: 17px;
}

#plugin-print-modal .lbl-text {
	display: block;
}

#plugin-print-modal input[type="text"] {
	width: 100%;
	margin-bottom: 7px;
}

#plugin-print-modal .form-component {
	margin-top: 10px;
}


/* End Custom print dialog */

.future-habitat {
	display: flex;
	flex-direction: row;
	flex: 1;
	flex-wrap: wrap;
	height: 726px;
}

.intro,
.main-controls,
.stats,
.additional-layers,
.export
 {
 	display: flex;
 	flex-direction: column;
	padding: 5px 17px;
	width: 100%;
}

.select-controls {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.select-controls .left-side,
.select-controls .right-side {
	width: 50%;
}

.select-controls .left-side {
	padding: 5px 5px 5px 17px;
	background-color: #f5f5f5;
}

.select-controls .right-side {
	background-color: #e7e7e7;
	padding: 5px 17px 5px 5px;
}

.select-controls .right-side #parcel-id {
	font-size: 13px;
	line-height: 30px;
	font-family: 'Archivo Narrow', 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.select-controls .right-side .hint {
	display: inline;
	font-size: 12px;
}

.main-controls {
	padding-top: 2px;
}

.main-controls h3 {
	margin-top: 1.2rem;
	text-align: center;
	font-size: 13px;
}

.main-controls .ui-slider-pips .ui-slider-pip-label .ui-slider-label {
	width: auto;
	margin-left: -23px;
	white-space: pre;
}

.main-controls .salt-marsh-control .slider-container {
	display: inline-block;
	width: 290px;
	margin: 16px 33px;
}

.transparency-control {
	position: absolute;
	display: inline-block;
	margin: 12px 14px 40px;
	vertical-align: top;
	right: 15px;
	z-index: 10;
}

.transparency-header {
	display: none;
	position: absolute;
	font-size: 11px;
	top: -14px;
	left: -7px;
}

.transparency-label {
	position: relative;
    font-size: 11px;
    width: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
}

.transparency-label::after {
	content: "\f042";
	position: absolute;
	top: -3px;
	right: -11px;
	font-family: "FontAwesome";
	font-size: 16px;
	color: #2678ca;
}

.transparency-label .value {
	display: none;
}

.transparency-slider {
	position: absolute;
	display: none;
    width: 85px;
    height: 19px;
    right: 3px;
    background-color: #aaa;
    padding: 0 10px;
    border-radius: 3px;
    border-top-right-radius: 0;
}

.transparency-control.open .transparency-slider {
	display: block;
}

.transparency-control[data-opacity="100"] .transparency-label::after {
	color: #596165;
}

.transparency-slider .slider.ui-slider {
	margin-top: 8px;
	height: 4px;
	background: none;
	background-color: #767676;
}

.transparency-slider .slider.ui-slider .ui-slider-handle {
	width: 13px;
	height: 13px;
	margin-left: -7.5px;
	margin-top: -2px;
	background: none;
	background-color: #767676;
}

.ui-slider-label {
	white-space: nowrap;
}

.main-controls .salt-marsh-control .transparency-control {
	right: 30px;
}

.stats {
	background-color: #f5f5f5;
	flex-wrap: wrap;
	flex-direction: row;
	padding-right: 9px;
}

.future-habitat .stats .stat {
	position: relative;
	margin: 5px 0;
	height: 60px;
	/*cursor: pointer;*/
	white-space: nowrap;
	width: 100%;
		margin-right: 8px;
}

.future-habitat .stats .stat .pill {
    display: flex;
    flex-direction: row;
    width: 365px;
    height: 60px;
	background-color: #36a7d8;
    color: #fff;
    border-radius: 30px;
    align-items: center;
}

.future-habitat .stats .stat-info {
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
}

.future-habitat .stats .stat-info .fa-info-circle {
	color: #266f9c;
    position: absolute;
    top: 23px;
    left: 4px;
    font-size: 16px;
}

/*.stats .stat.active .stat-info {
	background-color: #03a0da;
}*/

.future-habitat .stats .number {
    flex: 0 0 190px;
    margin-left: 10px;
    font-size: 17px;
}

.future-habitat .stats .number .value {
	font-size: 21px;
	letter-spacing: -0.5px;
	font-weight: bold;
	vertical-align: middle;
}



.future-habitat .stats .icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 17px;
	vertical-align: middle;
	
}

.future-habitat .stats .icon img {
	width: 30px;
	height: 30px;
}

.future-habitat .stats .icon.grass {
    background: url("icons/grass.png") center no-repeat white;
    background-size: 30px 30px;
}

.future-habitat .stats .icon.bird {
    background: url("icons/bird.png") center no-repeat white;
    background-size: 30px 30px;
}

.future-habitat .stats .icon.fish {
    background: url("icons/fish.png") center no-repeat white;
    background-size: 30px 30px;
}

.future-habitat .stats .icon.marsh {
    background: url("icons/marsh.png") center no-repeat white;
    background-size: 30px 30px;
}

.future-habitat .stats .icon.beach {
    background: url("icons/beach.png") center no-repeat white;
    background-size: 30px 30px;
}

.future-habitat .stats .icon.swamp {
    background: url("icons/swamp.png") center no-repeat white;
    background-size: 30px 30px;
}

.future-habitat .stats .icon.water {
    background: url("icons/water.png") center no-repeat white;
    background-size: 30px 30px;
}

.future-habitat .stats .icon.flats {
    background: url("icons/flats.png") center no-repeat white;
    background-size: 30px 30px;
}

.future-habitat .stats .description {
    font-size: 18px;
    flex-wrap: nowrap;
    white-space: normal;
    margin-right: 22px;
}

.additional-layers .description {
	margin: 8px 0px;
}

.additional-layers .layer {
	position: relative;
	height: 35px;
	user-select: none;
}

.additional-layers .layer .transparency-control {
	display: none;
	top: 0;
	margin-top: 3px;
}

.additional-layers .info {
	position: absolute;
    right: 0;
    top: 4px;
	color: #266f9c;
	font-size: 16px;
}

.export {
	flex-direction: row-reverse;
}

.export .notes {
	left: 18px;
	position: absolute;
}